cpi==1.1.3
dash==2.6.2
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
gunicorn==21.2.0
Flask==2.2.2
Flask-Compress==1.13
Flask-Failsafe==0.2
Werkzeug==2.2.2
tqdm==4.65.0
pyarrow==14.0.2

